{% extends 'base.html' %}
{% load staticfiles %}
{% load permission_tags %}
{% block content %}

<html>
	<head>
		<title>AddProducts</title>
	</head>
<div class="container-fluid">
<body>
<h4>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MySite</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class='active'><a href="#">Add Products</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
</h4>

<div class="jumbotron">
<h3 align="center">Add Products</h3>
<br><br>
<form method="post" enctype="multipart/form-data" class="form-inline">
	<div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
	</div>

{% if request.user.is_superuser %}
<br>        <!-- <button type="submit" id="list">Upload</button> -->
    <button type="submit" class="btn btn-info" id="list">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>

<br><br><br><br>
<p><a href="{% url 'home' %}">Return to home</a></p>

{% else %}
<br>        <!-- <button type="submit" id="list">Upload</button> -->
    <button type="submit" class="btn btn-info" id="list">
        <span class="glyphicon glyphicon-upload"></span> Submit
    </button>

{% endif %}
</form>
</div>
{% endblock %}
</body>
</div>
</html>