{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load permission_tags %}
{% block content %}

<html>
	<head>
		<title>AddProducts</title>
	</head>
<div class="container-fluid">
<body>
<h4>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MySite</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class='active'><a href="#">Add Products</a></li>
      <li class='inactive'><a href="{% url 'viewproducts'%}">All Products</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class='inactive'><a href="{% url 'search'%}">Search</a></li>
    </ul>
  </div>
</nav>
</h4>

<div class="jumbotron">
{% if user.is_authenticated and user.is_staff or user.is_superuser %}
<h3 align="center">Add Products</h3>
<br><br>
<form method="post" enctype="multipart/form-data" class="form-inline">
	<div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
	</div>


<br>        <!-- <button type="submit" id="list">Upload</button> -->
    <button type="submit" class="btn btn-info" id="list">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    {% else %}
<p> You Don't have Permission to add products </p>
{% endif %}

</form>
</div>
{% endblock %}
</body>
</div>
</html>